<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HOME</title>
</head>
<body>
    <style>
        .align{
            text-align: center;
        }
    </style>
    <p class="align">
        <img align="middle" src="/static/wp.jpg" width="1300" height="300">
    </p>
    <h1 font="algerian" align="center">IMAGE ENCRYPTION</h1>
    <h3 align="center" font="Bradley Hand ITC">USING AES IN CBC MODE</h3><br/>

    <form action = "http://127.0.0.1:5000/encrypt" method = "post">
        <div class="align"><button type="submit">ENCRYPT</button></div>
    </form><br/>

    <form action = "http://127.0.0.1:5000/decrypt" method = "post">
        <div class="align"><button type="submit">DECRYPT</button></div>
    </form>

</body>
</html>
